body, html {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("assets/bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    height: calc(100vh - 50px); /* Adjust for navbar height */
}


.name-title {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    color: #BDF4EB;
    font-family: "Poppins", sans-serif;

}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

#dynamic-text {
    color: #FCBE05; /* Blue color */
    padding-right: 5px; /* Space for the cursor */
}

.btn {
    display: block;
    margin-top: 20px; /* Add margin-top to create space */
    padding: 15px 30px; /* Padding for button */
    background-color: #3498db; /* Button color */
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
}

.btn:hover {
    background-color: #2980b9; /* Darker button color on hover */
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 3rem;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #FFCA0AE8; /* Change color on hover */
}

/* About CSS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.image-grid img {
    width: 320%;
    max-height: 80px; /* Adjust the max-height as needed */
    object-fit: cover; /* Ensures the image fills the container while maintaining its aspect ratio */
    border-radius: 10px;
}

.card {
    background: rgba(248, 247, 247, 0.297);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(252, 181, 203, 0.686);
}

.card h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 2px;
    color: #863507;
    text-align: center;
}

.card p {
    font-size: 17px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    text-indent: 2rem;
}


/* Additional CSS for personal data section */
.personal-data {
    background: rgba(248, 247, 247, 0.297);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 7px;
    margin-top: 1px;
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
    height: 600px; /* Adjust as needed */
}

/* Additional CSS for personal data section */
.personal-data:hover {
    transform: translateY(-5px);
    background: rgba(237, 252, 181, 0.686);
}

.personal-data h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 2px;
    color: #863507;
    text-align: center;
}

.personal-data ul {
    padding: 0;
    margin: 0;
}

.personal-data li {
    font-size: 17px;
    line-height: 1.4;
    color: #555;
    margin-left: auto;
    margin-bottom: 5px;
    display: flex;
    text-align: start;
    margin-right: 1px;
}

.personal-data .subtitle {
    font-weight: bold;
    color: #034b7b;
    min-width: 150px; /* Adjust as needed for alignment */
    padding-right: 10px; /* Adjust as needed for spacing */
    text-align: left;
}

/* Optional: Add a colon after each subtitle */
.personal-data .subtitle:after {
    padding-right: 6px;
}

/* Optional: Add a space after the colon */
.personal-data li span {
    white-space: nowrap;
}


/* education data */
/* Additional CSS for education data section */
.educ-data {
    background: rgba(248, 247, 247, 0.297);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding-left: 7px;
    margin-left: 14px;
    margin-top: 1px;
    transition: transform 0.3s ease-in-out;
    width: 200%; /* Adjust as needed */
    -moz-box-align: stretch;
}

/* Additional CSS for education data section */
.educ-data:hover {
    transform: translateY(-5px);
    background: rgba(237, 252, 181, 0.686);
}

/* Title style for education data */
.educ-data h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 2px;
    color: #863507;
    text-align: center;
}

/* List styles for education data */
.educ-data ul {
    padding: 0;
    margin: 0;
}

/* List item styles for education data */
.educ-data li {
    font-size: 17px;
    line-height: 1.4;
    color: #555;
    margin-bottom: 5px;
    display: flex;
    align-items: center; /* Align items vertically */
    margin-right: 1px;
}

/* Subtitle styles for education data */
.educ-data .subtitle {
    font-weight: bold;
    color: #034b7b;
    min-width: 150px; /* Adjust as needed for alignment */
    padding-right: 10px; /* Adjust as needed for spacing */
    text-align: left;
}

/* Add a colon after each subtitle */
.educ-data .subtitle:after {
    content: ":";
    padding-right: 5px;
}

/* Add a space after the colon */
.educ-data li span {
    white-space: nowrap;
}


